html {
  margin: 0;
  padding: 30;
  font-size: 18px;
  margin: 1em;
  line-height: 1.5em;
}


.encart{
  background-color: #e0e0e0;
  padding: 15px;
  border-radius: 10px;
}

h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

#date{
  margin-bottom: 20px;
}
