html {
  margin: 0;
  padding: 30;
  font-size: 18px;
  margin: 1em;
  line-height: 1.5em;
}


body {
  
}

.encart{
  background-color: #C6C6C6;
  padding: 15px;
  border-radius: 10px;
}

h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

blockquote {
    margin: 0;
}

blockquote {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
